:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

button{
  font-size: inherit;
  background-color: lightgreen;
  border-radius: 8px;
  padding: .4rem .8rem;
  transition: background-color 200ms ease-in;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}

.error{
  color: red;
}

.flex-grow {
  flex-grow: 1;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1920px;
}

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-card {
  width: 800px;
  border: 2px solid darkgreen;
  border-radius: 8px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.post-details {
  width: 800px;
  max-width: 800px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.post-details p {
  overflow-wrap: anywhere;
}

.separator {
  width: 100%;
  background-color: darkgreen;
  height: 2px;
}

.new-post {
  width: 1280px;
}

.flex-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}